---
import PostList from "../../components/blog/PostList.astro";
import LayoutBlog from "../../layouts/LayoutBlog.astro";
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog');

export async function getStaticPaths() {
  return allBlogPosts.map(({ slug }) => {
    return {
      params: { slug }
    };
  });
}

const visiblePosts = [...allBlogPosts].sort((a, b) => {
  return b.data.date.getDate() - a.data.date.getDate();
});
---
<LayoutBlog title="Blog" description="Blog de la página de Manuel Mestres. Full-stack developer.">
  <PostList title="Blog" posts={visiblePosts}>
    <p class="text-principal/90 text-lg lg:text-xl animate-fade animate-duration-1000 animate-delay-300">Los últimos artículos del blog donde hablo de los proyectos que voy realizando y algunas cosas interesantes que encuentro.</p>
  </PostList>
</LayoutBlog>