---
const {image, date, institution, nogrow, imgClass} = Astro.props;
---
<div class={`group border border-principal/10 rounded-lg bg-background/30 backdrop-blur-sm p-4 py-6 md:p-6 lg:p-8 reveal-item opacity-0 animate-duration-1000 animate-delay-300 transition-all duration-1000 hover:border-principal/20 hover:scale-105 ${nogrow === true ? '' : 'flex-grow lg:flex-grow-0'}`}>
  <div class="flex flex-row gap-4 border-b border-principal/10 pb-4">
    <img src={image} class={`h-10 aspect-square rounded-full group-hover:animate-pulseprimary animate-duration-1000 ${imgClass}`} />
    <div class="flex flex-col">
      <time class="mb-1 font-normal leading-none text-principal/80 text-sm">{date}</time>
      <span class="font-semibold text-secondary">{institution}</span>
    </div>
  </div>
  <h3 class="pt-4 text-lg md:text-xl text-left font-semibold group-hover:text-primary transition-all duration-1000">
    <slot />
  </h3>
</div>