---
import Section from '../layout/Section.astro'

const { id, title, Icon } = Astro.props
---

<Section id={id} title={title} Icon={Icon}>
  <div class="flex flex-row flex-wrap w-full gap-4 justify-center">
    <slot />
  </div>
</Section>