---
const fixed = Astro.props.fixed === true
---

<header class={`fixed z-30 backdrop-blur-sm w-full bg-background/70 py-2 animate-fade-down animate-duration-1000 ${!fixed ? 'hidden' : ''}`}>
  <div class="flex flex-row justify-between items-center max-w-6xl mx-auto px-4 xl:px-0">
    <div class="flex flex-row items-center">
      <img src="/people/mmestres.webp" alt="Foto de Manuel Mestres" class="size-9 rounded-full bg-secondary">
      <div class="flex flex-col ml-6">
        <p class="text-lg font-semibold leading-none text-principal">Manuel Mestres</p>
        <p class="text-sm text-secondary">Full-stack developer</p>
      </div>
    </div>
    <nav class="flex-row gap-4 z-50 hidden lg:flex items-center">
      <a class="hover:text-secondary hover:scale-105 transition-all duration-600" href="/#top">Inicio</a>|
      <a class="hover:text-secondary hover:scale-105 transition-all duration-600" href="/#work-experience">Experiencia</a>|
      <a class="hover:text-secondary hover:scale-105 transition-all duration-600" href="/#training">Formación</a>|
      <a class="hover:text-secondary hover:scale-105 transition-all duration-600" href="/blog">Blog</a>
    </nav>
    <div class="lg:hidden">
      <button class="menu-button menu-button-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" onclick="" /></svg>
    </button>
    <button class="menu-button menu-button-open hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6h16" /><path d="M7 12h13" /><path d="M10 18h10" /></svg>
      </button>
    </div>
  </div>
  <nav class="menu hidden grid-cols-1 animate-duration-100 gap-1 py-4 text-center">
    <a class="animate-fade-down animate-duration-1000 animate-delay-100 py-2" href="/#top">Inicio</a>
    <a class="animate-fade-down animate-duration-1000 animate-delay-200 py-2" href="/#work-experience">Experiencia</a>
    <a class="animate-fade-down animate-duration-1000 animate-delay-300 py-2" href="/#training">Formación</a>
    <a class="animate-fade-down animate-duration-1000 animate-delay-[400ms] py-2" href="/blog">Blog</a>
  </nav>
</header>