<div class="relative w-screen bg-transparent -z-10 overflow-hidden">
  <div id="light-cursor" class="hidden lg:block fixed inset-0 w-[600px] aspect-square bg-[radial-gradient(circle_farthest-side,#ff00b630,rgba(255,255,255,0))] -z-10"></div>
</div>
<script>
  const lightCursor = document.getElementById('light-cursor');
  document.addEventListener('mousemove', (e) => {
    if (lightCursor) {
      lightCursor.style.top = `${e.clientY - 300}px`;
      lightCursor.style.left = `${e.clientX - 300}px`;
    }
  });
</script>