<div class="relative w-screen bg-transparent -z-20 overflow-hidden">
  <div class="fixed inset-0 -top-[65vh] -left-[65vh] w-[150vh] lg:-top-[65vw] lg:-left-[65vw] lg:w-[130vw] aspect-square rounded-full bg-[radial-gradient(circle_farthest-side,#ff00b630,rgba(255,255,255,0))] -z-10"></div>
</div>