<div class={`w-full bg-background/60 text-center text-principal ${Astro.props.class}`}>
  <div class="max-w-3xl flex flex-col gap-6 mx-auto p-12 text-pretty">
    <h2 class="text-primary text-4xl font-semibold reveal-item opacity-0 animate-duration-1000 animate-delay-300">{Astro.props.title}</h2>
    <slot />
  </div>
</div>