<div id={Astro.props.id} class={`w-full text-center text-principal ${Astro.props.class}`}>
  <div class="max-w-3xl flex flex-col gap-3 mx-auto py-12 text-pretty px-8 lg:px-0">
    <h2 class="text-3xl lg:text-4xl font-semibold text-secondary reveal-item opacity-0 animate-duration-1000 animate-delay-300">{Astro.props.title}</h2>
    <slot />
  </div>
</div>