---
import Section from '../layout/Section.astro'
---
<Section class="card-slider pb-20 reveal-item opacity-0 animate-duration-1000 animate-delay-300">
  <div class="card-slider-items w-full max-w-xl mx-auto text-center relative h-[310px] overflow-y-hidden">
    <slot />
  </div>
  <div class="w-full max-w-2xl mx-auto text-center mt-8">
    <div class="card-slider-buttons flex flex-row justify-center gap-3">
      <slot name="buttons" />
    </div>
  </div>
</Section>