---

interface Props {
  title: string
  subtitle?: string
  background?: string
  class?: string
}

const { title, subtitle, background } = Astro.props
---
<article class={`${Astro.props.class} relative rounded-xl backdrop-blur-md border border-secondary/30 shadow-inner shadow-white/10`}>
  <h3>{title}</h3>
  {subtitle && <p class="text-pretty">{subtitle}</p>}
  <slot />
</article>