---
import BentoItem from "./BentoItem.astro";
import Code from "./icons/Code.astro";

---

<section id="projects" class="max-w-6xl mx-auto w-screen px-4 lg:px-0 pt-20 mb-20">
  <div class="flex gap-2 md:gap-4 items-end mb-8 pl-1 lg:pl-0">
    <Code class="size-8 md:size-10 text-primary" />
    <h2 class="text-3xl md:text-4xl font-semibold leading-none underline ml-2">Proyectos personales</h2>
  </div>
  <div class="grid grid-cols-5 auto-rows-[10rem] gap-4">
    <BentoItem title="Front-end" subtitle="Una selección de proyectos con tecnologías front-end" class="col-span-5 md:col-span-2 lg:col-span-1 md:row-span-2"></BentoItem>
    <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1"></BentoItem>
    <BentoItem title="BlackStageStudio" class="col-span-5 md:col-span-2 md:row-span-2 lg:col-span-3 lg:row-span-1">Página corporativa para un estudio de grabación.</BentoItem>
    <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1 lg:col-span-2">Bento item</BentoItem>
    <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1 md:row-span-2">Bento item</BentoItem>
    <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1 md:row-span-2 lg:row-span-1">Bento item2</BentoItem>
    
    <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-3 lg:col-span-1">Bento item</BentoItem>
    <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-2">Bento item3</BentoItem>
    <BentoItem title="Front-end" subtitle="Una selección de proyectos con tecnologías front-end" class="col-span-5 md:col-span-1 md:row-span-2"></BentoItem>
    <BentoItem title="Este blog" class="col-span-5 md:col-span-1">Este blog</BentoItem>
    <BentoItem title="Construcción" class="col-span-5 md:col-span-3">Construccion</BentoItem>
  </div>
</section>