---
import TitleSeparator from './layout/TitleSeparator.astro'
import CardSlider from './cardslider/CardSlider.astro';
import CardSliderItem from './cardslider/CardSliderItem.astro';
import CardSliderButton from './cardslider/CardSliderButton.astro';
---
<TitleSeparator title="Algunas opiniones">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">Lo que dicen quienes han trabajado conmigo.</p>
</TitleSeparator>
<CardSlider>
  <CardSliderItem image="/people/mtoral.webp" name="Miguel Toral" rol="Front-end developer" href="https://www.linkedin.com/in/migueltoral">
    A Manu lo quiero en mi equipo. Un compañero resolutivo, de los que te hace la vida más fácil y con un gran nivel técnico que no duda en compartir conocimiento.
  </CardSliderItem>
  <CardSliderItem image="/people/aserrano.webp" name="Adelina Serrano" rol="QA Analyst" href="https://www.linkedin.com/in/adelina-serrano-garc%C3%ADa-a05b42165/">
    No muestra malas caras ante problemas, los resuelve rápidamente. Simpatiza con compañeros. Grande dentro y fuera del trabajo.
  </CardSliderItem>
  <CardSliderItem image="/people/dblanco.webp" name="David Blanco" rol="UI/UX Designer" href="https://davidblanco.pro/">
    Trabajar con Manu ha sido una experiencia increíble. Juntos, enfrentamos desafíos que nos enseñaron y fortalecieron nuestra experiencia de manera significativa. ¡Una colaboración que recomendaría sin dudarlo!
  </CardSliderItem>
  <CardSliderButton slot='buttons' active />
  <CardSliderButton slot='buttons' />
  <CardSliderButton slot='buttons' />
</CardSlider>