---
import TitleSeparator from './layout/TitleSeparator.astro'
import CardSlider from './cardslider/CardSlider.astro';
import CardSliderItem from './cardslider/CardSliderItem.astro';
import CardSliderButton from './cardslider/CardSliderButton.astro';
---
<TitleSeparator title="Algunas opiniones">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">Lo que dicen quienes han trabajado conmigo.</p>
</TitleSeparator>
<CardSlider>
  <CardSliderItem image="/people/mtoral.webp" name="Miguel Toral" rol="Front-end developer" href="https://www.linkedin.com/in/migueltoral">
    A Manu lo quiero en mi equipo, un compa침ero resolutivo, de los que te hace la vida m치s f치cil y con un gran nivel t칠cnico que no duda en compartir conocimiento.
  </CardSliderItem>
  <CardSliderItem image="/people/aserrano.webp" name="Adelina Serrano" rol="QA Analist" href="https://www.linkedin.com/in/adelina-serrano-garc%C3%ADa-a05b42165/">
    Aqu칤 va un texto de entre 70 y 170 car치cteres. Una opini칩n sincera, pero buena 游땑. (Esperando la opini칩n.)
  </CardSliderItem>
  <!-- <CardSliderItem image="/dblanco.jpg" name="David Blanco" rol="UI/UX Designer" href="https://www.linkedin.com/in/manuel-mestres-baeza-6979a539/">
    Aqu칤 va un texto de entre 70 y 170 car치cteres. Una opini칩n sincera, pero buena 游땑
  </CardSliderItem>
  <CardSliderItem image="/apozzi.jpg" name="Agustina Pozzi" rol="Web designer" href="https://www.linkedin.com/in/manuel-mestres-baeza-6979a539/">
    Aqu칤 va un texto de entre 70 y 170 car치cteres. Una opini칩n sincera, pero buena 游땑
  </CardSliderItem> -->
  <CardSliderButton slot='buttons' active />
  <CardSliderButton slot='buttons' />
  <!-- <CardSliderButton slot='buttons' />
  <CardSliderButton slot='buttons' /> -->
</CardSlider>