---
import TitleSeparator from './layout/TitleSeparator.astro'
import CardSlider from './cardslider/CardSlider.astro';
import CardSliderItem from './cardslider/CardSliderItem.astro';
import CardSliderButton from './cardslider/CardSliderButton.astro';
---
<TitleSeparator id="testimonios" title="Testimonios">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">Parece que algunas buenas personas con las que he trabajado tienen algunas palabras que decir sobre m칤:</p>
</TitleSeparator>
<CardSlider>
  <CardSliderItem image="/person1.jpg" name="Travis Harris" rol="Front-end developer" href="https://www.linkedin.com/in/manuel-mestres-baeza-6979a539/">
    Impresionante dominio de tecnolog칤as web. Sus soluciones eficientes y c칩digo limpio destacan. Un referente en el equipo, siempre dispuesto a echar una mano.
  </CardSliderItem>
  <CardSliderItem image="/person2.jpg" name="Kenzi Weaver" rol="Product manager" href="https://www.linkedin.com/in/manuel-mestres-baeza-6979a539/">
    Colaborar con 칠l es un placer. Cumple plazos, comunica efectivamente y siempre aporta ideas innovadoras. Imprescindible en equipos 치giles.
  </CardSliderItem>
  <CardSliderItem image="/person3.jpg" name="Walter Morrison" rol="QA Tester" href="https://www.linkedin.com/in/manuel-mestres-baeza-6979a539/">
    Aqu칤 va un texto de entre 70 y 170 car치cteres. Una opini칩n sincera, pero buena 游땑
  </CardSliderItem>
  <CardSliderItem image="/person4.jpg" name="Sara Gibson" rol="Web designer" href="https://www.linkedin.com/in/manuel-mestres-baeza-6979a539/">
    Siempre consigue plasmar los dise침os que se le proponen. Un talento 칰nico.
  </CardSliderItem>
  <CardSliderButton slot='buttons' active />
  <CardSliderButton slot='buttons' />
  <CardSliderButton slot='buttons' />
  <CardSliderButton slot='buttons' />
</CardSlider>