---
import TitleSeparator from './layout/TitleSeparator.astro'
import CardSlider from './cardslider/CardSlider.astro';
import CardSliderItem from './cardslider/CardSliderItem.astro';
import CardSliderButton from './cardslider/CardSliderButton.astro';
---
<TitleSeparator id="testimonios" title="Testimonios" class="pt-12">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">Parece que algunas buenas personas con las que he trabajado tienen algunas palabras que decir sobre mí:</p>
</TitleSeparator>
<CardSlider>
  <CardSliderItem image="/mmestres.jpg" name="Yo mismo" rol="Front-end developer">
    Este chico es increíble, programa como los dioses y es un crack en el diseño. Lo recomiendo 100%. Además es muy simpático y agradable.
  </CardSliderItem>
  <CardSliderItem image="/mmestres.jpg" name="Él" rol="El cumpleañero">
    Es un muchacho excelente, porque es un muchacho excelente y siempre lo será y siempre lo será... y siempre lo será....
  </CardSliderItem>
  <CardSliderItem image="/mmestres.jpg" name="Yo mismo" rol="Front-end developer">
    Este chico es increíble, programa como los dioses y es un crack en el diseño. Lo recomiendo 100%. Además es muy simpático y agradable.
  </CardSliderItem>
  <CardSliderItem image="/mmestres.jpg" name="Él" rol="El cumpleañero">
    Es un muchacho excelente, porque es un muchacho excelente y siempre lo será y siempre lo será... y siempre lo será....
  </CardSliderItem>
  <CardSliderButton slot='buttons' active />
  <CardSliderButton slot='buttons' />
  <CardSliderButton slot='buttons' />
  <CardSliderButton slot='buttons' />
</CardSlider>