---
import Bento from "./bento/Bento.astro";
import BentoItem from "./bento/BentoItem.astro";
import TitleSeparator from "./layout/TitleSeparator.astro";
---
<TitleSeparator id="projects" title="Show me the code!">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">Una selección de proyectos personales y demostraciones técnicas.<br/>Porque el movimiento se demuestra andando.</p>
</TitleSeparator>
<Bento class="mb-28">
  <BentoItem title="Front-end" subtitle="Una selección de proyectos con tecnologías front-end" class="col-span-5 md:col-span-2 lg:col-span-1 md:row-span-2"></BentoItem>
  <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1"></BentoItem>
  <BentoItem title="BlackStageStudio" class="col-span-5 md:col-span-2 md:row-span-2 lg:col-span-3 lg:row-span-1">Página corporativa para un estudio de grabación.</BentoItem>
  <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1 lg:col-span-2">Bento item</BentoItem>
  <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1 md:row-span-2">Bento item</BentoItem>
  <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-1 md:row-span-2 lg:row-span-1">Bento item2</BentoItem>
  
  <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-3 lg:col-span-1">Bento item</BentoItem>
  <BentoItem title="Titulo de prueba" class="col-span-5 md:col-span-2">Bento item3</BentoItem>
  <BentoItem title="Front-end" subtitle="Una selección de proyectos con tecnologías front-end" class="col-span-5 md:col-span-1 md:row-span-2"></BentoItem>
  <BentoItem title="Este blog" class="col-span-5 md:col-span-1">Este blog</BentoItem>
  <BentoItem title="Construcción" class="col-span-5 md:col-span-3">Construccion</BentoItem>
</Bento>