---
import Bento from "./bento/Bento.astro";
import BentoItem from "./bento/BentoItem.astro";
import SimpleBentoItem from "./bento/SimpleBentoItem.astro";
import GitHub from "./icons/GitHub.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import TitleSeparator from "./layout/TitleSeparator.astro";
import NextJS from "./icons/NextJS.astro";
import React from "./icons/React.astro";
import TailwindCSS from "./icons/TailwindCSS.astro";
---
<TitleSeparator id="projects" title="Show me the code!">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">Una selección de proyectos personales y pruebas técnicas.<br/>Porque el movimiento se demuestra andando.</p>
</TitleSeparator>
<Bento class="mb-4" setHeight>
  <BentoItem 
    title="BlackStage Studio" 
    subtitle="Página web corporativa para un estudio de grabación con panel de administración interno."
    class="rows-span-1 col-span-10 aspect-video lg:row-span-2 lg:col-span-6 lg:aspect-auto"
    background="/project/audiostudio.webp"
    link="https://studio-manuel-mestres-projects.vercel.app/"
    github="https://github.com/MMestres/to-do">
    <div slot="tech" class="text-sm flex flex-row items-center gap-1 px-3 py-1 m-2 lg:opacity-0 lg:translate-x-[500px] group-hover:translate-x-0 group-hover:opacity-100 ease-in-out transition-all duration-1000 bg-black/50 rounded-full">
      <NextJS class="size-6 stroke-1" title="NextJS" />
      <span  class="hidden md:inline">NextJS</span> + 
      <React class="size-6 stroke-1" title="React" />
      <span  class="hidden md:inline">React</span> + 
      <TailwindCSS class="size-6 stroke-1" title="TailwindCSS" />
      <span  class="hidden md:inline">TailwindCSS</span>
    </div>
  </BentoItem>
  <BentoItem
    title="Código QR" 
    subtitle="Generador y lector de códigos QR con uso de API externa."
    class="rows-span-1 col-span-10 aspect-video xs:col-span-5 lg:col-span-4 lg:aspect-auto"
    background="/project/qr-code.webp"
    link="https://mmestres-qr-code.netlify.app/"
    github="https://github.com/MMestres/qr-code"
  >
    <div slot="tech" class="text-sm flex flex-row items-center gap-1 px-3 py-1 m-2 lg:opacity-0 lg:translate-x-[500px] group-hover:translate-x-0 group-hover:opacity-100 ease-in-out transition-all duration-1000 bg-black/50 rounded-full">
      <React class="size-6 stroke-1" title="React" />
      <span class="hidden md:inline">React</span> + 
      <TailwindCSS class="size-6 stroke-1" title="TailwindCSS" />
      <span  class="hidden md:inline">TailwindCSS</span>
    </div>
  </BentoItem>
  <BentoItem 
    title="Lista de tareas" 
    subtitle="Listado de tareas con filtrado semanal y almacenamiento local."
    class="rows-span-1 col-span-10 aspect-video xs:col-span-5 lg:col-span-4 lg:aspect-auto"
    background="/project/to-do.webp"
    link="https://mmestres-to-do.netlify.app/"
    github="https://github.com/MMestres/to-do"
  >
  <div slot="tech" class="text-sm flex flex-row items-center gap-1 px-3 py-1 m-2 lg:opacity-0 lg:translate-x-[500px] group-hover:translate-x-0 group-hover:opacity-100 ease-in-out transition-all duration-1000 bg-black/60 rounded-full">
    <React class="size-6 stroke-1" title="React" />
    <span  class="hidden md:inline">React</span> +
    <TailwindCSS class="size-6 stroke-1" title="TailwindCSS" />
    <span  class="hidden md:inline">TailwindCSS</span>
  </div>
</BentoItem>
</Bento>
<Bento class="mb-28">
  <SimpleBentoItem
    class="row-span-1 col-span-10 xs:col-span-3 md:col-span-2 z-10">
    <div class="rounded-xl backdrop-blur-md border border-principal/10 hover:border-secondary/50 overflow-hidden transition-all duration-1000 opacity-0 reveal-item animate-duration-1000 animate-delay-300 z-10">
      <div class="absolute inset-0 w-full h-full bg-background/40 transition-all duration-1000 opacity-70 group-hover:bg-background group-hover:opacity-100"></div>
      <a href="https://github.com/MMestres/porfolio" target="_blank" rel="noopener noreferrer" class="z-20 relative text-center p-4 flex flex-col w-full h-full justify-end opacity-60 group-hover:opacity-100 transition-all duration-1000">
        <span class="text-sm text-wrap space-y-1">
          Este porfolio <br class="xl:hidden" />hecho con <AstroIcon class="inline size-4" /><br/><GitHub class="inline size-6 group-hover:text-secondary transition-all duration-1000" />
        </span>
      </a>
    </div>
  </SimpleBentoItem>
  <SimpleBentoItem
    class="row-span-1 col-span-10 xs:col-span-7 md:col-span-8">
    <div class="flex flex-col w-full h-full items-end justify-center ">
      <a href="/blog/bienvenido" class="flex flex-col items-center justify-center relative -top-[15px] -rotate-6 opacity-60 transition-all duration-1000 hover:opacity-100 hover:scale-110">
        <span class="bg-background w-[200px] text-center p-2 text-amber-600 font-semibold text">PRÓXIMAMENTE</span>
        <span class="text-background w-[350px] text-center p-1 bg-amber-600 font-semibold text-sm">
         ¡Estoy trabajando para ampliar está sección!
        </span>
      </a>
    </div>
  </SimpleBentoItem>
</Bento>