<div class={`slider border-2 border-background/80 rounded-xl ${Astro.props.class}`}>
  <div class="flex flex-row gap-1 p-2 bg-background/60 items-center">
    <div class="size-3 block rounded-full bg-primary/90 hover:bg-primary"></div>
    <div class="size-3 block rounded-full bg-amber-500/90 hover:bg-amber-500"></div>
    <div class="size-3 block rounded-full bg-secondary/90 hover:bg-secondary"></div>
    <div class="text-xs text-principal/80 pl-2 slider-title">Ttitulo</div>
  </div>
  <div class="border-t border-background/80 flex flex-row overflow-hidden h-56 aspect-video relative">
    <slot />
  </div>
</div>