---
import Card from './cardlist/Card.astro'
import CardList from './cardlist/CardList.astro'
import SectionSeparator from './layout/SectionSeparator.astro'
---
<SectionSeparator id="training" title="Un mundo por descubrir">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">De pequeño, un libro de QBasic me encontró. No lograba entender todos los detalles pero me abrió los ojos a un mundo fascinante. Comencé a programar por pura curiosidad y a día de hoy continúo haciéndolo:</p>
  <p class="-mt-2 reveal-item opacity-0 animate-duration-1000 animate-delay-300"><strong class="text-principal font-semibold text-xl lg:text-2xl">sigo deseando descubrir a dónde más se puede llegar</strong></p>		
</SectionSeparator>
<CardList separator>
  <Card image="/ua.png" date="2009" institution="Universidad de Alicante">
    Ingeniería Técnica en<br />Informática de Gestión
  </Card>
  <Card image="/ua.png" date="2010" institution="Universidad de Alicante">
    Especialista universitario en<br />desarrollo de aplicaciones J2EE
  </Card>
  <Card image="/ua.png" date="2013" institution="Universidad de Alicante">
    Experto universitario en <br />desarrollo de aplicaciones móviles
  </Card>
  <Card image="/udemy.png" date="2021" institution="Udemy" imgClass="object-contain bg-principal">
    Java SE 11 Developer<br />1Z0-819 OCP Course
  </Card>
  <Card image="/tecnofor.png" date="2023" institution="TecnoFor" imgClass="p-2 bg-slate-800">
    Front-end Angular
  </Card>
  <Card image="/tecnofor.png" date="2023" institution="TecnoFor" imgClass="p-2 bg-slate-800">
    Back-end Spring Boot
  </Card>
</CardList>