---
import Card from './cardlist/Card.astro'
import CardList from './cardlist/CardList.astro'
import SectionSeparator from './layout/SectionSeparator.astro'
---
<SectionSeparator title="Un mundo por descubrir">
  <p class="text-principal/90 text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">De pequeño, un libro de QBasic me encontró. No lograba entender todos los detalles pero me abrió los ojos a un mundo nuevo. Comencé a programar por pura curiosidad y a día de hoy continúo haciéndolo:</p>
  <p class="-mt-2 reveal-item opacity-0 animate-duration-1000 animate-delay-300"><strong class="text-principal font-semibold text-2xl">sigo deseando descubrir a dónde más se puede llegar</strong></p>		
</SectionSeparator>
<CardList id="training" separator>
  <Card image="/ua.png" date="2009" link="www.ua.es" institution="Universidad de Alicante">
    Ingeniería Técnica en<br />Informática de Gestión
  </Card>
  <Card image="/ua.png" date="2010" link="www.ua.es" institution="Universidad de Alicante">
    Especialista universitario en<br />desarrollo de aplicaciones J2EE
  </Card>
  <Card image="/ua.png" date="2013" link="www.ua.es" institution="Universidad de Alicante">
    Experto universitario en <br />desarrollo de aplicaciones móviles
  </Card>
  <Card image="/mmestres.jpg" date="2023" link="www.udemy.es" institution="Udemy">
    Un curso de angular
  </Card>
  <Card image="/mmestres.jpg" date="2023" link="www.udemy.es" institution="Udemy">
    Un curso de spring boot
  </Card>
</CardList>