---
import TimeLineItem from "./timeline/TimeLineItem.astro";
import TimeLine from "./timeline/TimeLine.astro";
import TimeLineItemSliderImage from "./timeline/TimeLineItemSliderImage.astro";
import SectionSeparator from "./layout/SectionSeparator.astro";
---
<SectionSeparator id="work-experience" title="Uno para todos" class="pb-8 mt-16">
  <p class="text-principal/90 text-lg lg:text-xl reveal-item opacity-0 animate-duration-1000 animate-delay-300">He trabajado con diversas tecnologías, aunque estoy especializado en <strong>Java</strong>. Manejo herramientas de análisis, testing, integración y despliegue para garantizar la <strong>calidad del código</strong> y la <strong>eficiencia en el desarrollo</strong>. Me adapto a las necesidades del cliente y del proyecto y soy de los que piensan que...</p>
  <p class="reveal-item opacity-0 animate-duration-1000 animate-delay-300"><strong class="text-principal font-semibold text-xl lg:text-2xl">trabajar en equipo es ayudar a los demás a crecer juntos</strong></p>
</SectionSeparator>
<TimeLine class="mb-20" separator={true}>
  <TimeLineItem logo="/company/inetum.webp" date="2017 - Actualmente" company="Inetum" employ="Full-stack developer" link="https://www.inetum.com/es">
    <p>Actualmente ampliando la aplicación para solicitud de ayudas de FranceAgriMer <strong>Viti Investissement</strong> con <em>Java EE</em> y <em>Spring Framework</em> y migrando a la nueva versión <strong>AmiViti</strong> con <em>Spring Boot</em> para back-end y <em>Angular</em> para front-end.</p>
    <p>También he participado en el desarrollo de aplicaciones como <strong>Chronotime Workspace</strong>, aplicación de gestión y actividad de recursos humanos, con tecnologías como <em>Java</em> y <em>Backbone</em>.</p>
    <div slot="images">
      <TimeLineItemSliderImage src="/work/vitiinvest.webp" alt="Viti Investissement" />
      <TimeLineItemSliderImage src="/work/amiviti.webp" alt="AmiViti" />
      <!-- <TimeLineItemSliderImage src="/work/placeholder.webp" alt="Chronotime" /> -->
    </div>
  </TimeLineItem>
  <TimeLineItem logo="/company/render.webp" date="2016" company="Render" employ="PHP developer" link="https://render.com.es/">
    <p>Creación de ecommerce y páginas corporativas con <em>Prestashop</em> y <em>Wordpress</em> para <strong>Lois Jeans</strong>, <strong>Valentín Sánchez</strong>, <strong>Paredes Seguridad</strong> o <strong>24hrs</strong>.</p>
    <div slot="images">
      <TimeLineItemSliderImage src="/work/lois.webp" alt="Lois Jeans" />
      <TimeLineItemSliderImage src="/work/valentinsanchez.webp" alt="Valentín Sánchez" />
      <TimeLineItemSliderImage src="/work/paredes.webp" alt="Paredes Seguridad" />
      <TimeLineItemSliderImage src="/work/24hrs.webp" alt="24hrs" />
    </div>
  </TimeLineItem>
  <TimeLineItem logo="/company/3dids.webp" date="2012 - 2015" company="3dids" employ="PHP developer" link="https://www.3dids.com/">
    <p>Desarrollo y mantenimiento de ecommerce con <em>Yii Framework</em> de <em>PHP</em> para diversos clientes como <strong>Fundesem</strong>, <strong>Gadea</strong>, <strong>Lodi</strong> o <strong>Unisa</strong>.</p>
    <div slot="images">
      <TimeLineItemSliderImage src="/work/fundesem.webp" alt="Fundesem" />
      <TimeLineItemSliderImage src="/work/gadea.webp" alt="Gadea" />
      <TimeLineItemSliderImage src="/work/lodi.webp" alt="Lodi" />
      <TimeLineItemSliderImage src="/work/unisa.webp" alt="Unisa" />
    </div>
  </TimeLineItem>
  <TimeLineItem logo="/company/cesser.webp" date="2010 - 2012" company="Cesser" employ="Java developer">
    <p>Personalización de aplicaciones web desarrolladas con <strong>SIGEM (Sistema de gestión municipal)</strong> para la administración electrónica de expedientes en entidades públicas. Personalizaciones realizadas con <em>Java EE</em> y <em>Spring Framework</em>.</p>
    <div slot="images">
      <TimeLineItemSliderImage src="/work/sigem.webp" alt="SIGEM" />
    </div>
  </TimeLineItem>
</TimeLine>