<div class={`slider border-2 border-background/80 bg-background/60 group-hover:scale-105 transition-all duration-1000 rounded-xl ${Astro.props.class}`}>
  <div class="flex flex-row gap-1 p-2 items-center rounded-t-xl">
    <div class="size-3 block rounded-full bg-primary/90 hover:bg-primary"></div>
    <div class="size-3 block rounded-full bg-amber-500/90 hover:bg-amber-500"></div>
    <div class="size-3 block rounded-full bg-secondary/90 hover:bg-secondary"></div>
    <div class="text-xs text-principal/80 pl-2 slider-title"></div>
  </div>
  <div class="border-t border-background/80 flex flex-row overflow-hidden w-[60vw] md:w-[50vw] lg:w-auto lg:h-52 aspect-video relative">
    <slot />
  </div>
</div>