---
import Section from "../layout/Section.astro";
---
<Section id={Astro.props.id} class={Astro.props.class} separator={Astro.props.separator}>
  <div class={`grid grid-cols-10 auto-rows-auto ${Astro.props.setHeight === true && 'lg:auto-rows-[15rem]'} gap-4`}>
    <slot />
  </div>
</Section>