---
import Section from "../layout/Section.astro";
---
<Section id={Astro.props.id} class={Astro.props.class} separator={Astro.props.separator}>
  <div class="grid grid-cols-5 auto-rows-[10rem] gap-4">
    <slot />
  </div>
</Section>