<div
  class="prose-invert prose-lg lg:prose-xl
  prose-h1:font-bold lg:prose-h1:text-4xl prose-h1:text-primary
  prose-headings:text-secondary prose-headings:font-semibold prose-headings:text-2xl 
  prose-a:text-secondary hover:prose-a:underline prose-img:rounded-xl
  prose-p:leading-6 lg:prose-p:leading-8 prose-p:text-pretty prose-p:text-principal/90
  ">
  <slot />
</div>