---
import Background from '../components/layout/Background.astro';
import Light from '../components/layout/Light.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import '@fontsource-variable/onest';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Manuel Mestres</title>
	</head>
	<body class="min-w-[320px] min-h-screen relative overflow-x-hidden">
		<Background />
		<Light />
		<Header fixed />
		<main class="z-10 py-24 max-w-6xl mx-auto px-4 xl:px-0">
			<slot />
		</main>
		<Footer bottom />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		color: #FFFBFB;
		background-color: #13020E;
		scroll-behavior: smooth;
	}
</style>
<script>
	function setUpMenu() {
		document.querySelector('.menu-button-close')?.addEventListener('click', () => {
      document.querySelector('.menu-button-close')?.classList.add('hidden');
      document.querySelector('.menu-button-open')?.classList.remove('hidden');
      document.querySelector('.menu')?.classList.add('grid');
      document.querySelector('.menu')?.classList.remove('hidden');
    });

    document.querySelectorAll('.menu-button-open, .menu a')?.forEach((elem) => {
        elem.addEventListener('click', () => {
        document.querySelector('.menu-button-open')?.classList.add('hidden');
        document.querySelector('.menu-button-close')?.classList.remove('hidden');
        document.querySelector('.menu')?.classList.add('hidden');
        document.querySelector('.menu')?.classList.remove('grid');
      });
    });
	}

  window.onload = function() {
		setUpMenu();
  }
</script>